.container-item, .field-title {
  display: block;
}

.container-item:before, .container-item:after,
.field-title:before, .field-title:after {
  content: " ";
  display: table;
}

.container-item:after,
.field-title:after {
  clear: both;
}

.crm-widget-row {
	margin: 16px 0;
	font-size: 0;
	height: 380px;

	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.crm-widget-row-higher {
	height: 360px;
}

.crm-widget-container {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
	position: relative;
}


.crm-widget-70-30 .crm-widget-left {
	width: 69.5%;
}
.crm-widget-70-30 .crm-widget-right {
	width: 29.5%;
}
.crm-widget-30-70 .crm-widget-left {
	width: 29.5%;
}
.crm-widget-30-70 .crm-widget-right {
	width: 69.5%;
}
.crm-widget-50-50 .crm-widget-left {
	width: 49.5%;
}
.crm-widget-50-50 .crm-widget-right {
	width: 49.5%;
}

.crm-widget-left {
	margin: 0 0.25%;
}
.crm-widget-right {
	margin: 0 0.25%;
}

.crm-widget {
	border: 1px solid #b3b8be;
	border-radius: 3px 3px 2px 2px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	overflow: hidden;
	height: 378px;
}

.crm-widget.crm-widget-rating,
.crm-widget.crm-widget-number {
	border: 1px solid #fff;
	background: #50c5d3;
	height: 180px;
	margin-bottom: 18px;
}

.crm-widget.crm-widget-rating:first-child {
	margin-top: 0;
}

.crm-widget-rating .crm-widget-content {
	font-size: 0;
	height: 138px;
	padding: 0;
}

.crm-widget-rating .crm-widget-content:before {
	display: inline-block;
	content: '';
	height: 138px;
	vertical-align: middle;
	margin-left: -1px;
	width: 1px;
}

.crm-widget-rating .crm-widget-head,
.crm-widget-number .crm-widget-head {
	background: rgba(0,0,0,0.10);
}

.crm-widget-rating .crm-widget-content-period,
.crm-widget-number .crm-widget-content-period {
	color: #fff;
}

.crm-widget-rating .crm-widget-content-period span,
.crm-widget-number .crm-widget-content-period span  {
	border: none;
	background: none;
}


.crm-widget-total-top,
.crm-widget-total-bottom {
	height: 190px;
	font-size: 0;
}

.crm-widget-total-top {
	background: #05d215;
}

.crm-widget-total-left,
.crm-widget-total-right {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.crm-widget-total-left {
	background: #4fc3f7;
}

.crm-widget-total-right {
	background: #f7d622;
}

.crm-widget.crm-widget-total {
	border: 1px solid #fff;
	border-radius: 0;
}

.crm-widget-total-top .crm-widget-head,
.crm-widget-total-left .crm-widget-head,
.crm-widget-total-right .crm-widget-head {
	background: rgba(0,0,0,0.10);
	border-radius: 0;
}

.crm-widget-number .crm-widget-content-amt a,
.crm-widget-total .crm-widget-content-amt a {
	color: #fff !important;
}

.crm-widget-number .crm-widget-content-amt span,
.crm-widget-total .crm-widget-content-amt span {
	color: #fff !important;
}

.crm-widget-total.crm-widget .crm-widget {
	position: relative;
	margin-top: 2px;
	border: none;
	border-radius: 0;
	width: 50%;
	background: #05d215;
}

.crm-widget-total.crm-widget .crm-widget .crm-widget-head {
	background: rgba(0,0,0,0.1);
	cursor: default;
}

.crm-widget-total.crm-widget .crm-widget:last-child {
	background: #f8d800;
}


.crm-widget-total .crm-widget .crm-widget-content-amt a {
	line-height: 52px;
}

.crm-widget-total .crm-widget .crm-widget-content-amt img {
	height: 26px;
}

.crm-widget-content-period {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #404b56;
	font-size: 11px;
}

.crm-widget-content-period span {
	line-height: 20px;
	padding: 0 3px;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid rgba(255,255,255,0.3);
	border-radius: 2px;
	margin-left: 5px;
	background: #e6e7e9;
}

.crm-widget-total .crm-widget-content-period {
	color: #fff;
}

.crm-widget-total .crm-widget-content-period span {
	background: transparent;
	font-weight: bold;
}

.crm-widget-head {
	position: relative;
	color: #FFF; 
	font-size: 13px;
	text-transform: uppercase;
	padding: 0 0 0 17px;
	background: #818992;
	border-radius: 2px 2px 0 0;
	cursor: move;
}

.crm-widget-title-container {
	position: relative;
	vertical-align: middle;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 30px;
	font-size: 0;
}

.crm-widget-title-inner {
	display: inline-block;
	max-width: 100%;
	position: relative;
	padding-right: 30px;
	line-height: 40px;
}

.crm-widget-title-container.crm-widget-title-input {
	margin-left: -10px;
	margin-right: 23px;
	overflow: visible;
	padding-right: 0;
}

.crm-widget-title-container.crm-widget-title-input .crm-widget-title-inner {
	display: block;
	padding-right: 0;
}

.crm-widget-title-container.crm-widget-title-input .crm-widget-title-inner:hover .crm-widget-title-edit {
	display: none;
}

.crm-widget-title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	font-size: 12px;
	max-width: 100%;
}

.crm-widget-title-input-container {
	overflow: hidden;
	display: block;
}

.crm-widget-title-input-container input {
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	outline: none;
	border: none;
	height: 28px;
	line-height: 28px;
	color: #535c69;
	font-size: 14px;
	font-weight: bold;
	padding: 0 6px;
	box-sizing: border-box;
	width: 100%;
	text-transform: uppercase;
	font-size: 12px;
	vertical-align: middle;
}

.crm-widget-title-edit {
	position: absolute;
	right:0px;
	top: 0;
	bottom: 0;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	width: 30px;
	height: 40px;
	cursor: pointer;
	margin: auto;
	display: none;
}

.crm-widget-title-edit:after {
	content: '';
	position: absolute;
	background: url(images/sprite.png) no-repeat 0 -16px;
	width: 12px;
	height: 12px;
	top: -2px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.crm-widget-title-inner:hover .crm-widget-title-edit{
	display: block;
}

.crm-widget-title-edit:hover:after {
	background-position: -14px -16px;
}

.crm-widget-settings {
	position: relative;
	float: right;
	height: 40px;
	width: 32px;
	cursor: pointer;
}

.crm-widget-settings:after {
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	background: url(images/sprite.png) no-repeat 0 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.crm-widget-settings:hover:after {
	background-position: -16px 0;

}

.crm-widget-content {
	box-sizing: border-box;
	position: relative;
	padding: 30px 10px 10px;
	height: 318px;
}

.crm-widget-360 .crm-widget-content {
	height: 283px;
}

.crm-widget-total .crm-widget-content {
	height: 150px;
	padding: 0;
}

.crm-widget-content img {
	max-width: 100%;
}

.crm-widget-content-amt {
	color: #1a6397;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	text-align: center;
	overflow: hidden;
}

.crm-widget-content-amt:before {
	display: inline-block;
	content: '';
	height: 138px;
	margin-left: -1px;
	vertical-align: middle;
	width: 1px;
}

.crm-widget-content-amt .value {
	overflow: hidden;
	display: block;
	color: #2067b0;
	-webkit-animation: appearance 1s ease-in-out;
	-moz-animation: appearance 1s ease-in-out;
	-ms-animation: appearance 1s ease-in-out;
	animation: appearance 1s ease-in-out;
	-webkit-transition: opacity 0.3s linear, width 0.3s linear 0.3s, transform 0.3s linear;
	-moz-transition: opacity 0.3s linear, width 0.3s linear 0.3s, transform 0.3s linear;
	-ms-transition: opacity 0.3s linear, width 0.3s linear 0.3s, transform 0.3s linear;
	transition: opacity 0.3s linear, width 0.3s linear 0.3s, transform 0.3s linear;
}

.crm-widget-total .crm-widget-content-amt .value {
	color: #fff;
}

.crm-widget-content-text  {
	display: inline-block;
	vertical-align: middle;
	margin-top: -15px;
	opacity: 0;
	white-space: nowrap;

	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

a.crm-widget-content-text {
	border-bottom: 3px solid rgba(255,255,255, 0.5);
	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.crm-widget-content-amt a.crm-widget-content-text:hover {
	border-bottom: 3px solid;
}

.crm-widget-total-top .crm-widget-content-text,
.crm-widget-number .crm-widget-content-text {
	font-size: 72px;
	line-height: 79px;
}

.crm-widget-total-bottom .crm-widget-content-text {
	font-size: 53px;
	line-height: 60px;
}

@-webkit-keyframes appearance {
	0% { 
		width: 0;
		opacity: 0; 
		-webkit-transform: scale(0.2,0.2);
		-moz-transform: scale(0.2,0.2);
		-o-transform: scale(0.2,0.2);
		transform: scale(0.2,0.2);
	}
	100% {
		width: auto; 
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-o-transform: scale(1,1);
		transform: scale(1,1);
	}
}
@-ms-keyframes appearance {
	0% { 
		width: 0px; 
		opacity: 0; 
		-webkit-transform: scale(0.2,0.2);
		-moz-transform: scale(0.2,0.2);
		-o-transform: scale(0.2,0.2);
		transform: scale(0.2,0.2);
	}
	100% {
		width: auto; 
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-o-transform: scale(1,1);
		transform: scale(1,1);
	}
}
@-moz-keyframes appearance {
	0% { 
		width: 0px; 
		opacity: 0; 
		-webkit-transform: scale(0.2,0.2);
		-moz-transform: scale(0.2,0.2);
		-o-transform: scale(0.2,0.2);
		transform: scale(0.2,0.2);
	}
	100% {
		width: auto; 
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-o-transform: scale(1,1);
		transform: scale(1,1);
	}
}

@keyframes appearance {
	0% { 
		width: 0px; 
		opacity: 0; 
		-webkit-transform: scale(0.2,0.2);
		-moz-transform: scale(0.2,0.2);
		-o-transform: scale(0.2,0.2);
		transform: scale(0.2,0.2);
	}
	100% {
		width: auto; 
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-o-transform: scale(1,1);
		transform: scale(1,1);
	}
}

.crm-widget-content-amt img {
	height: 34px;
}

span.curr {
	font-size: 46px;
}

.crm-widget-3 span.curr {
	font-size: inherit;
}

.crm-widget-content-rating {
	font-family: "OpenSans", Helvetica, Arial, sans-serif;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.crm-widget-rating-positions {
	width: 100%;
	display: inline-block;
	margin-left: 0;
	vertical-align: bottom;
}

.crm-widget-rating-position-inner {
	display: inline-block;
	padding: 0 10px;
}

.crm-widget-rating-position {
	font-size: 26px;
	width: 48%;
	text-align: center;
	display: inline-block;
	vertical-align: bottom;
}

.crm-widget-rating-position span {
	display: inline-block;
	vertical-align: middle;
}

.crm-widget-rating-position + .crm-widget-rating-positions {
	  width: 49.5%;
}

.crm-widget-rating-position + .crm-widget-rating-positions .crm-widget-rating-position {
	width: 48%;
}

.crm-widget-rating-pl {
	font-size: 44px;
	font-weight: bold;
	line-height: 35px;
}

span.crm-widget-rating-result {
	font-size: 18px;
	line-height: 29px;
	background: #0f93a3;
	display: block;
	text-align: center;
	margin-top: 10px;
	border-radius: 2px;
}

.crm-widget-rating-result span {
	font-weight: bold;
}

.crm-widget-rating-result img {
	height: 16px;
	vertical-align: middle;
}

.crm-widget-3 .crm-widget-rating-result img {
	height: 12px;
	vertical-align: middle;
}

.crm-widget-rating-positions .crm-widget-rating-position {
	font-size: 35px;
	line-height: 35px;
	width: 33%;
}

.crm-widget-rating-positions .crm-widget-rating-result {
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 15px;
	color: #4d565f;
	padding: 0 15px;
	max-width: 300px;
	margin: 10px auto 0;
	width: 90%;
}

.crm-widget-50-50 .crm-widget-left .crm-widget-rating-position,
.crm-widget-50-50 .crm-widget-right .crm-widget-rating-position {
	font-size: 21px;
	width: 60%;
}

.crm-widget-50-50 .crm-widget-left .crm-widget-rating-positions,
.crm-widget-50-50 .crm-widget-right .crm-widget-rating-positions {
	width: 40%;
}

.crm-widget-50-50 .crm-widget-left .crm-widget-rating-pl,
.crm-widget-50-50 .crm-widget-right .crm-widget-rating-pl {
	font-size: 35px;
	line-height: 25px;
}

.crm-widget-50-50 .crm-widget-left .crm-widget-rating-positions .crm-widget-rating-position,
.crm-widget-50-50 .crm-widget-right .crm-widget-rating-positions .crm-widget-rating-position {
	display: block;
	margin: auto;
	font-size: 15px;
	line-height: 25px;
	width: auto;
}

.crm-widget-50-50 .crm-widget-left .crm-widget-rating-positions .crm-widget-rating-position:last-child,
.crm-widget-50-50 .crm-widget-right .crm-widget-rating-positions .crm-widget-rating-position:last-child {
	margin: auto;
}

.crm-widget-50-50 .crm-widget-left span.crm-widget-rating-result,
.crm-widget-50-50 .crm-widget-right span.crm-widget-rating-result {
	font-size: 15px;
}

.crm-widget-50-50 .crm-widget-left .crm-widget-rating-positions .crm-widget-rating-result,
.crm-widget-50-50 .crm-widget-right .crm-widget-rating-positions .crm-widget-rating-result {
	font-size: 10px;
	margin: 0 auto;
	line-height: 18px;
	max-width: 200px;
}

.crm-widget-30-70 .crm-widget-left .crm-widget-rating-position,
.crm-widget-70-30 .crm-widget-right .crm-widget-rating-position {
	font-size: 12px;
	width: 100%;
}

.crm-widget-30-70 .crm-widget-left .crm-widget-rating-positions,
.crm-widget-70-30 .crm-widget-right .crm-widget-rating-positions {
	width: 100%;
}

.crm-widget-30-70 .crm-widget-left .crm-widget-rating-pl,
.crm-widget-70-30 .crm-widget-right .crm-widget-rating-pl {
	font-size: 22px;
	line-height: 15px;
}

.crm-widget-30-70 .crm-widget-left .crm-widget-rating-positions .crm-widget-rating-position,
.crm-widget-70-30 .crm-widget-right .crm-widget-rating-positions .crm-widget-rating-position {
	font-size: 15px;
	line-height: 25px;
	width: 49.5%;
}

.crm-widget-30-70 .crm-widget-left span.crm-widget-rating-result,
.crm-widget-70-30 .crm-widget-right span.crm-widget-rating-result {
	font-size: 12px;
}

.crm-widget-30-70 .crm-widget-left .crm-widget-rating-positions .crm-widget-rating-result,
.crm-widget-70-30 .crm-widget-right .crm-widget-rating-positions .crm-widget-rating-result {
	font-size: 10px;
	margin: 0 auto;
	line-height: 18px;
	max-width: 150px;
}

.crm-widget-70-30 .crm-widget-left .crm-widget-rating-position,
.crm-widget-30-70 .crm-widget-right .crm-widget-rating-position {
	width: 49.5%;
	font-size: 21px;
}

.crm-widget-70-30 .crm-widget-left .crm-widget-rating-positions,
.crm-widget-30-70 .crm-widget-right .crm-widget-rating-positions {
	width: 49.5%;
	vertical-align: bottom;
}

.crm-widget-70-30 .crm-widget-left .crm-widget-rating-pl,
.crm-widget-30-70 .crm-widget-right .crm-widget-rating-pl {
	font-size: 35px;
	line-height: 25px;
}

.crm-widget-70-30 .crm-widget-left .crm-widget-rating-positions .crm-widget-rating-position,
.crm-widget-30-70 .crm-widget-right .crm-widget-rating-positions .crm-widget-rating-position {
	font-size: 15px;
	line-height: 25px;
	width: 49.5%;
}

.crm-widget-30-70 .crm-widget-left .crm-widget-content-rating,
.crm-widget-70-30 .crm-widget-right .crm-widget-content-rating {
	margin-bottom: 7px;
	vertical-align: bottom;
}

.crm-widget-70-30 .crm-widget-left span.crm-widget-rating-result,
.crm-widget-30-70 .crm-widget-right span.crm-widget-rating-result {
	font-size: 15px;
}

.crm-widget-70-30 .crm-widget-left .crm-widget-rating-positions .crm-widget-rating-result,
.crm-widget-30-70 .crm-widget-right .crm-widget-rating-positions .crm-widget-rating-result {
	max-width: 200px;
}

.crm-btn-panel {
	float: right;
	padding: 0 9px;
	font-size: 0;
	cursor: pointer;
}

.crm-btn-panel-btn {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	background: url(images/sprite.png) no-repeat 0 -31px;
}

.crm-filter-wrap .bx-filter-main-table {
	width: 635px !important;
}

.crm-popup {
	position: absolute;
	width: 287px;
	padding: 10px 20px 20px;
	background: #fff;
	font-size: 14px;
	line-height: 17px;
	color: #80868e;
	border: 1px solid rgba(83,92,105,0.2);
	box-shadow: 0px 6px 21px 0px rgba(83,92,105,0.15);
	margin: auto;
	z-index: 3;
}

.crm-popup-title {
	color: #3b434f;
	line-height: 35px;
	font-weight: bold;
	display: block;
}

.crm-popup p {
	margin: 0;
}

.crm-popup:before, 
.crm-popup:after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 62px;
	width: 0;
	height: 0;
	border: 9px solid transparent;	
	border-top: 10px solid rgba(83,92,105,0.2);
	border-bottom: 0;
}

.crm-popup:after {
	border-top: 10px solid #fff;
	bottom: -9px;
}

.popup-select-colors {
	position: absolute;
	background: #fff;
	padding: 10px 14px;
	width: 120px;
	right: -55px;
	z-index: 3;
	box-shadow: 0px 6px 21px 0px rgba(83,92,105,0.15);
}

.popup-select-colors-title {
	font-size: 13px;
	line-height: 16px;
	color: rgba(0,0,0,0.5);
	display: block;
	margin-bottom: 8px;
}

.popup-select-colors .color-item {
	display: block;
	color: #000000;
	font-size: 13px;
	line-height: 16px;
	margin: 2px 0;
}

.popup-select-colors:before,
.popup-select-colors:after {
	content: '';
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom: 10px solid rgba(83,92,105,0.2);
  border-top: 0;
  z-index: 2;
  margin: auto;
}

.popup-select-colors:after {
  border-bottom: 10px solid #fff;
  top: -9px;
}

.color-item .color {
	width: 35px;
	height: 16px;
	display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.bx-lists-dialog-title {
	font-weight: bold;
	font-size: 14px;
	color: #80868e;
}

.crm-widget-popup-window {
	background: #fff;
	border-radius: 0px;
}

.crm-widget-popup-window .popup-window-content {
	text-align: center;
}

.crm-widget-popup-window.popup-window-titlebar .popup-window-top-row .popup-window-center-column, 
.crm-widget-popup-window.popup-window-titlebar .popup-window-top-row .popup-window-left-column, 
.crm-widget-popup-window.popup-window-titlebar .popup-window-top-row .popup-window-right-column {
	background: #fff !important;
	box-shadow: none;
	border: none;
}

.crm-widget-popup-window.popup-window-titlebar .popup-window-top-row .popup-window-center-column {
	height: 50px;
}

.popup-widget-template {
	background: #eef2f4;
	padding: 60px 0;
}

.crm-widget-template {
	border: 3px solid #c7ccd1;
	border-radius: 3px;
	display: inline-block;
	margin: 0 25px;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 0;
}

.crm-widget-template:hover {
	border: 3px solid #a4d700;
}

.crm-widget-template-item {
	background: #a0a7ae;
	text-align: center;
	width: 132px;
	display: inline-block;
	font-size: 13px;
	margin: 3px;
	line-height: 51px;
	-webkit-transition: background-color 0.25s linear;
	-moz-transition: background-color 0.25s linear;
	transition: background-color 0.25s linear;
}

.crm-widget-template-item.template-item-5 {
	width: 63px;
}

.crm-widget-template-item.template-item-3 {
	width: 43px;
}

.crm-widget-template-item.template-item-7 {
	width: 83px;
}

.crm-widget-template:hover .crm-widget-template-item {
	background: #535c69;
}

.container-item-wrapper {
	overflow: hidden;
	position: relative;
	max-width: 935px;
}

.container-item-top .field-container {
	float: left;
}

.container-item-5 .select-container {
	width: 270px;	
}

.container-item.field-container .radiobox-container label {
	width: 115px;
}

.container-item {
	background: #eef2f4;
	padding: 0px 10px;
	margin-bottom: 5px;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* overflow: hidden; */
	max-width: 935px;
	font-size: 0;
}

.container-item-equally {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
	background: #fff;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 20px;
}

.container-item-equally span {
	width: 10px;
	height: 3px;
	background: #fff;
	position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
	box-shadow: 0px -3px 0px 0px #535c68, 0px 3px 0px 0px #535c68;
}

.container-item-5 {
	float: left;
	display: inline-block;
	vertical-align: top;
	min-height: 200px;
	width: 465px;
}

.container-item-5.container-item-second {
	float: right;
	margin-left: 5px;
}

.container-item p {
	font-size: 14px;
	color: #000;
	max-width: 100%;
}

.container-title {
	font-size: 18px;
	color: #000;
	line-height: 22px;
	width: 415px;
	margin: 5px auto;
	max-width: 100%;
}

.action-container {
	height: 33px;
	background: #fff;
	text-align: left;
	color: rgba(0,0,0,0.5);
	font-size: 13px;
	line-height: 28px;
	margin-bottom: 5px;
	padding: 6px 0;
}

.action-icon {
	position: relative;
	width: 29px;
	height: 29px;
	border-radius: 50%;
	border: 2px solid rgba(83,92,104,0.2);
	display: inline-block;
	vertical-align: middle;
	margin: 0 11px;
}

.action-icon-minus:before,
.action-icon-persent:before,
.action-icon-plus:before,
.action-icon-plus:after {
	content: '';
	width: 13px;
	height: 3px;
	background: #535c68;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.action-icon-plus:after {
	width: 3px;
	height: 13px;
}

.action-icon-persent:before {
	content: '';
  text-align: center;
  line-height: 29px;
  font-weight: bold;
  font-size: 16px;
  width: 17px;
  height: 13px;
  background: url(images/sprite.png) no-repeat 0 -62px;
}

.action-container .select-container {
	width: 170px;
	display: inline-block;
	margin-right: 15px;
}

.action-container .select-container select {
	line-height: 24px;
	height: 29px;
}

.field-title {
	position: relative;
  padding: 0px 7px 0px 10px;
  line-height: 15px;
  background: #4fc3f7;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  margin: 0 -10px 0;
}

.field-title-panel {
	float: right;
	position: relative;
}

.field-title-panel .crm-popup {
	position: absolute;
	z-index: 1;
}

.field-title-panel-button {
	width: 25px;
  height: 25px;
  background: transparent;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 3px 0;
}

.field-title-panel-button:hover {
	border: 1px solid #fff;
}

.field-title-panel-button:after {
	content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  vertical-align: middle;
  background: url(images/sprite.png) no-repeat -34px 0px;
}

.field-title-title {
	position: relative;
  padding-left: 5px;
  vertical-align: middle;
  display: block;
  overflow: hidden;
  padding: 6px 7px 5px 0px;
  white-space: nowrap;
  padding-right: 26px;
}

.field-title-title-inner {
  display: inline-block;
  max-width: 100%;
  position: relative;
  padding-right: 26px;
  line-height: 28px;
  vertical-align: middle;
}

.field-title-title-inner.input-container-edit {
	display: block;
}

.field-title-name {
  display: block;
  max-width: 100%;
  padding: 0 10px 0px 0;
  height: 22px;
  line-height: 22px;
  border-right: 1px solid rgba(255,255,255,0.5);
  overflow: hidden;
}

.field-title-letter {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	width: 30px;
	margin-left: -10px;
	border-right: 1px solid rgba(255,255,255,0.5);
	margin-right: 10px;
	float: left;
}

.title-name {
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.fiedl-title-input-container {
	overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.fiedl-title-input-container input {
  outline: none;
  border: none;
  line-height: 22px;
  color: #000;
  font-size: 15px;
  padding: 0px 6px;
  box-sizing: border-box;
  width: 100%;
}

.field-title-icon {
  width: 35px;
  height: 35px;
  background: transparent;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  float: left;
  margin-right: 4px;
}

.field-title-icon-ready {
	position: absolute;
	width: 14px;
	height: 10px;
	right: 0px;
  top: 0px;
  bottom: 0px;
  background: transparent;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  float: right;
  margin: 7px 0px;
}

.field-title-icon-ready:after {
	content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: url(images/sprite.png) no-repeat -34px -35px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  opacity: 0.5;
}

.field-title-icon-ready:hover:after {
	opacity: 1;
}

.field-title-icon-edit {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 14px;
  background: transparent;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  float: right;
  margin: 4px 0px;
}

.field-title-icon-edit:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: url(images/sprite.png) no-repeat -34px -16px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  opacity: 0.5;
}

.field-title-title-inner:hover .field-title-icon-edit {
	width: 14px;
}

.field-title-icon-edit:hover:after {
	opacity: 1;
}

.field-container {
	position: relative;
	width: 445px;
	max-width: 100%;
	padding-right: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 5px;
	margin: 15px 0;
}

div.field-container-period {
	width: auto;
  min-width: 445px;
}

.container-item-5 .field-container {
	float: none;
}

.field-container.field-container-left {
	margin-right: 25px;
}

.field-container.field-container-left,
.field-container.field-container-right {
	display: inline-block;
}

.field-container-small .select-container {
	width: 118px;
	margin: 0 1px;
}

.field-container .field-container-title {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	line-height: 16px;
	width: 155px;
	text-align: right;
}

.container-item-5 .field-container .field-container-title {
	width: 120px;
}

.select-container {
	display: inline-block;
	overflow: hidden;
	position: relative;
	background: #fff;
	vertical-align: middle;
	width: 240px;
}

.select-container select {
	position: relative;
	padding: 0 13px;
	line-height: 36px;
	border: 1px solid #c6cdd3;
	margin: 0;
	color: #000;
	outline: none;
	width: 100%;
	height: 38px;
	padding-right: 37px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	z-index: 2;
	background: transparent;
	font-size: 14px;
	border-radius: 3px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bx-ie .select-container select {
	padding-right: 0;
}

.bx-ie .select-container:after {
	content: none;
}

.select-container:after {
	position: absolute;
	content: '';
	right: 13px;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(images/sprite.png) no-repeat -19px -53px;
	width: 11px;
	height: 7px;
	display: inline-block;
}

.checkbox-container, 
.radiobox-container {
	position: relative;
	display: inline-block;
	padding: 15px 27px 15px 0;
	margin-left: 165px;
}

.radiobox-container {
	padding: 0;
}

.checkbox-container input, 
.radiobox-container input {
	margin: 2px 4px;
	display: inline-block;
  vertical-align: middle;
}

.checkbox-container label,
.radiobox-container label {
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
	color: #535c69;
	line-height: normal;
	margin-right: 0px;
	overflow: hidden;
	padding: 0;
}

.radiobox-container label {
	font-size: 14px;
	margin-right: 10px;
}

.container-item-5 .radiobox-container {
	margin-left: 130px;
}

.checkbox-container .field-help {
	top: 16px;
}

.field-help {
	top: 12px;
	right: 0;
	background: #bfc5ca;
	border-radius: 50%;
	width: 14px; 
	height: 14px;
	color: #fff;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.field-help:hover {
	cursor: help;
}

.color-digit {
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 28px;
	height: 28px;
	font-size: 18px;
	line-height: 28px;
	border-radius: 50%;
	background: #3bc8f5;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}

.green-digit {
	background: #22d02c;
}

.yellow-digit {
	background: #dec01f;
}

.subtraction {
	text-align: center;
}

.subtraction div {
	border-radius: 21px;
	border: 2px solid #c7c9cd;
	padding: 5px 8px;
	margin: 0 auto;
	color: #818992;
	font-size: 14px;
	font-weight: bold;
	margin-top: 40px;
	display: inline-block;
}

.subtraction .symbol {
	position: relative;
	width: 13px;
	height: 13px;
	background: transparent;
	display: inline-block;
	vertical-align: middle;
	margin: 0 6px;
}

.subtraction .symbol.symbol-equally:before,
.subtraction .symbol.symbol-equally:after,
.subtraction .symbol.symbol-plus:before,
.subtraction .symbol.symbol-minus:before,
.subtraction .symbol.symbol-plus:after {
	content: '';
	position: absolute;
	width: 13px;
	height: 3px;
	background: #818992;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.subtraction .symbol.symbol-equally:before {
	top: 2px;
	bottom: auto;
}

.subtraction .symbol.symbol-equally:after {
	top: auto;
	bottom: 2px;
}

.subtraction .symbol.symbol-plus:after {
	width: 3px;
	height: 13px;
}

.subtraction .symbol.symbol-persent {
	width: auto;
	height: auto;
}

.subtraction .symbol.symbol-persent:before {
	display: block;
	content: '';
	background: url(images/sprite.png) no-repeat -21px -62px;
	width: 17px;
	height: 13px;
}

.crm-widget-catcher-wrap {
	font-size: 0;
	height: 0;
	overflow: hidden;

	-webkit-transition: height 0.3s linear;
	transition: height 0.3s linear;
}

.crm-widget-catcher {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.crm-widget-70-30 .crm-widget-catcher.crm-widget-left {width: 70%;}
.crm-widget-70-30 .crm-widget-catcher.crm-widget-right {width: 30%;}

.crm-widget-50-50 .crm-widget-catcher.crm-widget-left,
.crm-widget-50-50 .crm-widget-catcher.crm-widget-right {width: 50%;}

.crm-widget-30-70 .crm-widget-catcher.crm-widget-left {width: 30%;}
.crm-widget-30-70 .crm-widget-catcher.crm-widget-right {width: 70%;}


.crm-widget-catcher-inner {
	/*height: 55px;*/
	opacity: 0.7;
	position: relative;

	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.crm-widget-container .crm-widget-catcher-inner {
	margin-top: 18px;
}

.crm-widget-container .crm-widget-catcher-inner:first-child {
	margin-top: 0;
}

.crm-widget-catcher.crm-widget-left .crm-widget-catcher-inner{margin-right: 5px;}
.crm-widget-catcher.crm-widget-right .crm-widget-catcher-inner {margin-left: 5px;}

.crm-widget-catcher-inner:before {
	background-color: #e2f5fc;
	border: 2px dashed #a7b0b5;
	border-radius: 2px;
	content: '';
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	position: absolute;
}

.crm-widget-catcher-inner-active {
	opacity: 1;
}

.crm-widget-catcher-inner-active:before {
	background-color: #c9e9f7;
	border-color: #556c8e;
}

.crm-widget-bottom {
	display: block;
	margin-top: 10px;
}

.crm-widget-drag-active {
	opacity: 0.5;
}

div.crm-widget-content { padding: 0; }
div.field-container-period span.select-container-period { width: 200px; }
div.field-container-period span.select-container-period-year { width: 100px; }
div.field-container-period span.select-container-period-quarter { width: 75px; }
div.field-container-period span.select-container-period-month { width: 145px; }

.crm-widg-blue-tooltip-wrap {
	background-color: #55c3f4;
	background-color: rgba(85, 195, 244, .95);
	color: #fff;
	font-size: 14px;
	margin: 13px 0 0 -150px;
	min-height: 120px;
	position: absolute;
	width: 300px;
	z-index: 2;
}

.crm-widg-blue-tooltip-text {
	padding: 15px 17px 17px;
}

.crm-widg-blue-tooltip-arrow {
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom:13px solid rgba(85, 195, 244, .95);
	left: 50%;
	margin-left: -13px;
	top: -13px;
	position: absolute;
}

.crm-widg-blue-tooltip-close,
.crm-widg-white-close {
	cursor: pointer;
	height: 20px;
	position: absolute;
	right: 7px;
	top: 7px;
	text-align: center;
	width: 20px;
}

.crm-widg-blue-tooltip-close:before,
.crm-widg-blue-tooltip-close:after,
.crm-widg-white-close:before,
.crm-widg-white-close:after {
	background-color: #cdecfa;
	content: '';
	height: 10px;
	left: 9px;
	position: absolute;
	top: 5px;
	width: 2px;

	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}

.crm-widg-blue-tooltip-close:before,
.crm-widg-white-close:before {
	transform: rotate(45deg);
}

.crm-widg-blue-tooltip-close:after,
.crm-widg-white-close:after {
	transform: rotate(-45deg);
}

.crm-widg-blue-tooltip-close:hover:before,
.crm-widg-blue-tooltip-close:hover:after {
	background-color: #fff;
}

.bx-ie8 .crm-widg-blue-tooltip-close,
.bx-ie8 .crm-widg-white-close {
	display: none;
}

.crm-widg-blue-tooltip-link {
	border-bottom: 1px solid #b9e5fb;
	cursor: pointer;
	display: inline-block;
	margin-left: 17px;

	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
}

.crm-widg-blue-tooltip-link:hover {
	border-bottom-color: #fff;
}

.crm-widg-white-tooltip {
	background-color: #fff;
	background-color: rgba(255, 255, 255, .92);
	border: 2px solid #69c5ef;
	border-right: none;
	border-radius: 2px;
	color: #000;
	font-size: 14px;
	min-height: 140px;
	margin-top: -70px;
	position: fixed;
	right: 0;
	top: 50%;
	width: 380px;
	z-index: 1000;
}

.crm-widg-white-text {
	margin: 6px 20px 0;
}

.crm-widg-white-text:first-child {
	margin-top: 15px;
}

.crm-widg-white-link {
	border-bottom: 1px solid #c0dbf6;
	display: inline-block;
	color: #2196e8;

	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.crm-widg-white-link:hover,
.crm-widg-white-bottom-link:hover {
	border-bottom-color: #71b3ee;
	color: #2196e8;
}

.crm-widg-white-bottom-link {
	border-bottom: 1px solid #c0dbf6;
	display: inline-block;
	color: #2196e8;
	cursor: pointer;
	margin-top: 15px;
}

.crm-widg-white-close {
	right: 2px;
	top: 5px;
}

.crm-widg-white-close:before,
.crm-widg-white-close:after {
	background-color: #b0b8c1;
}

.crm-widg-white-close:hover:before,
.crm-widg-white-close:hover:after {
	background-color: #848f9b;
}