.btn-add-element {background-image:url(images/add_element.gif);}
.btn-edit-sections {background-image:url(images/edit_sections.gif);}
.btn-edit-list {background-image:url(images/edit_list.gif);}
.btn-list-bizproc {background-image:url(images/list_bizproc.gif);}
.btn-list-excel {background-image:url(images/excel.gif);}
.bp-comments {padding: 5px 5px 5px 25px;display: inline-block;width: 30px;}
.bp-comments a {color: #3c454b; text-align: center;  display: inline-block;}
.bp-comments-icon {display: block; width: 16px; height: 16px; background: url(images/bp-sprite.png) no-repeat 0 -18px;}
.bp-comments .bp-comments-icon {background: url(images/bp-sprite.png) no-repeat 0 0; margin: 0 auto 5px;}