#top-menu a { color: #338a1b; }
#top-menu a:hover { border-color: #338a1b; }
#top-menu span.hover a { color: #338a1b; }

#top-menu span.selected.home .left-corner { background: url(images/theme-sprite.png) no-repeat -12px -72px; }
#top-menu span.selected.home .root-item-text, #top-menu span.selected.home a:hover .root-item-text { background: url(images/theme-sprite.png) repeat-x 0 -34px; }
#top-menu span.selected.home .right-corner { background: url(images/theme-sprite.png) no-repeat -18px -72px; }

#top-menu span.home i { background: transparent url(images/theme-sprite.png) no-repeat 2px 9px;}
#top-menu span.selected.home i { background: transparent url(images/theme-sprite.png) no-repeat -43px 10px;}

#top-menu .root-item-text-line { border-color: #338a1b;}

#search-button input { background:#5ea34c url(images/theme-sprite.png) no-repeat 0 -125px; color: #fff;}

table.gadgetholder-mainpage td.gd-page-column1 .ghheader-underline, table.gadgetholder-dashboard td.gd-page-column1 .ghheader-underline { border-color:#96c289; background-color: #99c48d; }
table.gadgetholder-mainpage td.gd-page-column2 .ghheader-underline, table.gadgetholder-dashboard td.gd-page-column2 .ghheader-underline { border-color:#dec984; background-color: #d4ba5f; }