.bx-disk-popup-title {padding-top:10px; padding-left:10px;}
.bx-disk-form-bizproc-start-table {width:100%;}
.bx-disk-form-bizproc-start-div {padding:10px;width: 550px;}
.bx-disk-form-bizproc-start-td-title {text-align:center;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;color:#7f858d;}
.bx-disk-form-bizproc-start-td-error {text-align:left;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:bold;color:red;}
.bx-disk-form-bizproc-start-td-name-bizproc {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 13px;font-weight: bold;height: 30px;color: #4f5359;}
.field-name {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold;color:#abaeaf;}
.bx-disk-form-bizproc-start-td-button-bizproc {text-align:right;}
div.bizproc-status-inprogress{background-image:url('images/bizproc/bizproc_inprogress.gif');float: right;}
div.bizproc-status-attention{background-image:url('images/bizproc/bizproc_attention.gif') !important;float: right;}
div.bizproc-statuses{width:22px;height:18px;margin-right:6px;float: right;background-image:url('images/bizproc/bizproc_finished.gif');background-position:left center;}
.bx-hide-button {display:none;}
/************ Style for parameters bp **********/
.bx-disk-form-bizproc-start-table {table-layout: fixed;}
.bx-disk-form-bizproc-start-table textarea {width: 95%;}
.bx-disk-form-bizproc-start-td-name-bizproc {overflow: hidden;}
.bx-disk-form-bizproc-start-table td {width: 70%;text-align: left;}
.bx-disk-form-bizproc-start-table td:first-child {width: 30%;}
.bx-disk-col-table-right {width: 70%;}
.bx-disk-col-table-left {width: 30%;}
.bx-disk-form-bizproc-start-table select {width: 95%;}
/************************************************/