<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="asmx_as_php" path="*.asmx" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\php-cgi.exe" resourceType="Unspecified" />
        </handlers>
	<!--
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/bitrix/tools/ws_contacts_extranet_emp/redirect.php" responseMode="ExecuteURL" />
        </httpErrors>
	-->
    </system.webServer>
</configuration>
