blockquote { -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;  }

.boxed {  -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;     }
.boxed-harder { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;      }

.sf-shadow ul {
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

#navigation ul ul {
    /*-webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;*/
}
#navigation ul ul {    }
#navigation ul ul ul {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px; }

#navigation li.roundbottom a, #navigation li.roundbottom a:hover {
      -webkit-border-bottom-right-radius: 6px;
      -webkit-border-bottom-left-radius: 6px;
      -moz-border-radius-bottomright: 6px;
      -moz-border-radius-bottomleft: 6px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      }
#navigation li.roundtop a, #navigation li.roundtop a:hover {
      -webkit-border-top-right-radius: 6px;
      -webkit-border-top-left-radius: 6px;
      -moz-border-radius-topright: 6px;
      -moz-border-radius-topleft: 6px;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      }
.top-shadow-footer {

}

.success {  -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
.errors {  -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }
.notification { -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }

ul.pricing-col {   -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;  }
ul.pricing-col li.button {   -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; }
ul.pricing-col .top {  -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0; }
.pricing-last {  -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; }

ul.highlight {  -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
ul.highlight li.button {  -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; }
ul.highlight .top {   -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0; }
highlight .pricing-last {   -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; }

ul.pricing-col-small {   -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
ul.pricing-col-small li.button {   -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; }
ul.pricing-col-small .top {   -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0; }
.pricing-last-small {  -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; }

ul.highlight-small {   -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
ul.highlight-small li.button {  -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; }
ul.highlight-small .top {  -moz-border-radius:7px 7px 0 0; -webkit-border-radius:7px 7px 0 0; border-radius:7px 7px 0 0; }
.highlight-small .pricing-last-small {  -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; }


.gallery-item .image {   -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.gallery-item-list .image {  -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
ul.blog-post-grid-list .image {   -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
ul.blog-post-full-list .image {  -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
ul.pagination li a {  -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; }
.blog-search-field {  -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.video {  -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }

ul.css-tabs a {   -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0; }

.accordion {   -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.accordion .first {   -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0; }
.accordion .last {   -moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px; }

.scrollable img {
    border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

form select {  -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }

