/* ======================================================== Webforms ==============================================================*/
.webform { font: normal normal normal 12px/normal Verdana, sans-serif;}

.webform-corners-top, .webform-corners-bottom { height:4px; position:relative; overflow:hidden; }
.webform-left-corner, .webform-right-corner {width: 4px; height: 16px;  overflow: hidden; position: relative; }
.webform-right-corner {position: absolute;  top: -4px; right:0; }
.webform-corners-bottom .webform-left-corner, .webform-corners-bottom .webform-right-corner { margin-top: -8px; }
.webform-content { padding: 7px 20px 15px 16px; }

.webform-main-fields { background-color: #f4f0d2; margin: 0 0 3px 0;}
.webform-main-fields .webform-round-corners { background-color: #ebe6c2; }
.webform-main-fields .webform-left-corner, .webform-main-fields .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 0; }
.webform-main-fields .webform-content .webform-left-corner, .webform-main-fields .webform-content .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -17px; }
.webform-main-fields .webform-content .webform-content { padding: 5px 10px; border-right: 1px solid #e5e1c5;}
.webform-main-fields .webform-field-round-corners .webform-corners-bottom { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -161px; }

.webform-additional-fields { background-color: #eeeeee; }
.webform-additional-fields .webform-round-corners { background-color: #e5e5e5; }
.webform-additional-fields .webform-left-corner, .webform-additional-fields .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -34px; }
.webform-additional-fields .webform-content .webform-left-corner, .webform-additional-fields .webform-content .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -5px 0; }
.webform-additional-fields-content { margin: 15px 0 0 0;  }
.webform-additional-fields .webform-content .webform-content { padding: 7px 10px; border-right: 1px solid #dfdfdf; }
.webform-additional-fields .webform-field-round-corners .webform-corners-bottom { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -165px; }


.webform-main-block { background-color:#f8f6e4; }
.webform-main-block .webform-content { border-left:1px solid #e8e6d6; border-right:1px solid #e8e6d6; padding: 14px 20px 11px 15px; }
.webform-main-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -386px; }
.webform-main-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -383px; }
.webform-main-block .webform-left-corner, .webform-main-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -5px -17px; }
.webform-main-content { overflow:hidden;}
.webform-main-title { white-space: nowrap; float:left; margin-right:0.5em; color:#4c431f;}
.webform-main-text { overflow: hidden; color:#000;}
.webform-main-block-topless .webform-corners-top, .webform-main-block-bottomless .webform-corners-bottom { display:none;}
.webform-main-block-topless .webform-content { border-top:1px solid #e8e6d6; }
.webform-main-block-bottomless .webform-content { border-bottom:1px solid #e8e6d6; }

.webform-additional-block { background-color:#f3f3f3; }
.webform-additional-block .webform-content { border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; padding: 11px 20px 7px 16px; }
.webform-additional-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -160px; }
.webform-additional-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -157px; }
.webform-additional-block .webform-left-corner, .webform-additional-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -5px -34px; }
.webform-additional-content { overflow:hidden;}
.webform-additional-title { white-space: nowrap; float:left; margin-right:0.5em; color:#4c431f;}
.webform-additional-text { overflow: hidden; color:#000;}
.webform-additional-block-topless .webform-corners-top, .webform-additional-block-bottomless .webform-corners-bottom { display:none;}
.webform-additional-block-topless .webform-content { border-top:1px solid #e1e1e1; }
.webform-additional-block-bottomless .webform-content { border-bottom:1px solid #e1e1e1; }

.webform-warning-block { background-color:#ffe168; }
.webform-warning-block .webform-content { border-left:1px solid #ebd165; border-right:1px solid #ebd165; padding: 11px 20px 11px 16px; }
.webform-warning-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -172px; }
.webform-warning-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -169px; }
.webform-warning-block .webform-left-corner, .webform-warning-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -10px -34px; }
.webform-warning-content { overflow:hidden;}
.webform-warning-title { white-space: nowrap; float:left; margin-right:0.5em; color:#4c431f;}
.webform-warning-text { overflow: hidden; color:#000;}
.webform-warning-block-topless .webform-corners-top, .webform-warning-block-bottomless .webform-corners-bottom { display:none;}
.webform-warning-block-topless .webform-content { border-top:1px solid #ebd165; }
.webform-warning-block-bottomless .webform-content { border-bottom:1px solid #ebd165; }


.webform-error-block { background-color:#ffebeb; margin-bottom:17px; }
.webform-error-block .webform-content { border-left:1px solid #ffa7a7; border-right:1px solid #ffa7a7; padding: 6px 18px 6px 10px; color:#d10000;}
.webform-error-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -152px; }
.webform-error-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -149px; }
.webform-error-block .webform-left-corner, .webform-error-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -15px -34px!important; }
.webform-error-block-topless .webform-corners-top, .webform-error-block-bottomless .webform-corners-bottom { display:none;}
.webform-error-block-topless .webform-content { border-top:1px solid #ffa7a7; }
.webform-error-block-bottomless .webform-content { border-bottom:1px solid #ffa7a7; }
.webform-error-list {padding:0.3em 0 0.3em 2em; margin:0;}
.webform-error-list li {margin:0; padding:0;}

.webform-additional-select-block { background-color:#fff !important; }
.webform-additional-select-block .webform-content { border-left:1px solid #dedede; border-right:1px solid #dedede; padding: 5px !important; }
.webform-additional-select-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -156px; }
.webform-additional-select-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -153px; }
.webform-additional-select-block .webform-left-corner, .webform-additional-select-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -10px 0 !important; }
.webform-additional-select-block-topless .webform-corners-top, .webform-additional-select-block-bottomless .webform-corners-bottom { display:none;}
.webform-additional-select-block-topless .webform-content { border-top:1px solid #dedede; }
.webform-additional-select-block-bottomless .webform-content { border-bottom:1px solid #dedede; }

.webform-row { margin: 0 0 11px 0;}

/* Webforms controls */
.webform-field { margin: 0; color: #171717;}
.webform-field-label { margin: 0 0 2px 4px; color: #7a7869;}

.webform-field-textbox { border: none;  background-color:#fff;}
.webform-field-textbox-double { border: 1px solid #f9f7e8; background-color:#fff;}
.webform-field-textbox-inner { border: 1px solid #d9d9d9; padding:3px 6px 4px;}

span.webform-field-textbox, span.webform-field-textbox-double { display:inline-block; }
span.webform-field-textbox-inner { display: inline-block; }

.webform-field-textbox input, .webform-field-textbox-double input { font: normal normal normal 13px/normal Arial, Helvetica, sans-serif; border:0; padding:0; color: #000; background-color:#fff; margin:0; }
.webform-field-textbox input[type="text"], .webform-field-textbox-double input[type="text"]  { outline:none;}
.webform-field-textbox input.inactive, .webform-field-textbox-double input.inactive { color: #999; }
.webform-field-textbox-clearable { position: relative; }
.webform-field-textbox-clearable .webform-field-textbox-inner { padding-right: 20px; }
.webform-field-textbox-clear { width:20px; outline: none;  height:24px; display: block; position:absolute; right:0; top:0; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -17px 10px;  cursor:pointer;}
.webform-field-textbox-empty .webform-field-textbox-clear { display: none; cursor:default; }

.webform-field-combobox { border: 1px solid #f9f7e8;  background-color:#fff;  display:inline-block; white-space:nowrap;}
.webform-field-combobox-inner { border: 1px solid #d9d9d9; padding:5px 0 5px 8px; }
.webform-additional-fields .webform-field-combobox { border: 1px solid #f6f6f6;  }
.webform-field-combobox input { width:238px;  border:0; padding:0; color: #000;  background-color:#fff;  vertical-align: top;}
.webform-field-combobox input[type="text"] { outline:none;}
.webform-field-combobox-arrow { display:inline-block; width:25px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -15px -14px;  vertical-align: top; text-decoration: none !important; outline: none;}
.webform-field-combobox input, .webform-field-combobox-arrow { font: normal normal normal 15px/normal Arial, Helvetica, sans-serif; }
.webform-field-combobox-disabled .webform-field-combobox-arrow { display: none; }
.webform-field-combobox-disabled input { color: #999999;}

.webform-field-date { border: 1px solid #d9d9d9;  background-color:#fff; display:inline-block;  vertical-align: top; padding: 3px 6px 4px 6px;}
.webform-field-date input { width:140px;  border:0; padding:0; color: #191919;  background-color:#fff;  vertical-align: top; font: normal normal normal 13px/normal Arial, Helvetica, sans-serif;}
.webform-field-date input[type="text"] { outline:none;}


.webform-field-textarea { border: 1px solid #f9f7e8;  background-color:#fff;}
.webform-field-textarea-inner { border: 1px solid #d9d9d9; padding:8px;}
.webform-additional-fields .webform-field-textarea { border: 1px solid #f6f6f6;  }
.webform-field-textarea textarea { width:99%; height: 100px; font: normal normal normal 14px/normal Arial, Helvetica, sans-serif; border:0; padding:0; color: #000; outline:none; background-color:#fff; resize: none; }
.webform-field-textarea textarea.inactive { color: #999; }

.webform-field-checkbox-options .webform-field-checkbox-option { margin: 0; height:19px;}
.webform-field-checkbox-option input, .webform-field-checkbox-option label { vertical-align: middle; }
.webform-field-checkbox-option input { margin:0; padding: 0; width:14px;  }
.webform-field-checkbox-option label { margin: 0 0 0 5px; }
.webform-field-checkbox-option-disabled label { color: #A9A792; }

.webform-field-upload-list { margin:0 0 11px 2.8em; padding:0;}
.webform-field-upload-list a.upload-file-name { margin: 0 0 0 -4px; color: #0069c4; text-decoration: underline;}
.webform-field-upload-list a.upload-file-name:hover { color: #1c91e7; }
.webform-field-upload-list li { margin: 0 0 3px -5px; white-space: nowrap; color: #888;}
.webform-field-upload-list li.uploading { color: #bbbbbb; }
.webform-field-upload-list li.uploading a.upload-file-name { cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }
.webform-field-upload-list a.delete-file { vertical-align:top; display: inline-block; width:15px; height: 16px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -280px; margin: 0 0 0 6px; outline: none;}
.webform-field-upload-list a.delete-file:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -17px -280px; }
.webform-field-upload-list i { vertical-align:top; display: none; width:15px; height: 15px; background: url(/bitrix/js/main/core/images/popup/upload-waiting.gif) no-repeat 0 2px; margin: 0 0 0 8px; }
.webform-field-upload-list li.uploading i {  display: inline-block; }

.webform-field-upload { overflow: hidden; width: 200px; height: 27px; }
.webform-field-upload:hover .webform-button,
.webform-field-upload:hover .webform-button-text { color: #000; cursor:pointer !important;}
.webform-field-upload input { margin-top: -50px; margin-left:-410px; -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; font-size: 150px; height: 100px; }

.webform-field-action-link,
.webform-field-action-link:link,
.webform-field-action-link:visited,
.webform-field-action-link:hover,
.webform-field-action-link:active { border-bottom: 1px dashed #938f79; text-decoration:none; color: #757361; outline:none; font-size: 13px; display: inline-block; cursor:pointer; }
.webform-field-action-link.selected { border: 0; color: #2f2e27 !important; padding-bottom: 1px; cursor:default;}
.webform-field-additional-link {  text-decoration:none; outline:none; cursor:pointer;}
.webform-field-additional-link i {background:url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -177px; width: 15px; height: 15px; display:inline-block; vertical-align:middle;}
.webform-field-additional-link.selected i {background:url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -193px; }
.webform-field-additional-link span { vertical-align:middle; border-bottom: 1px dashed #4d4d4d; color: #171717; margin:0 0 0 5px;  -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}

/* Webforms buttons */
.webform-buttons { margin: 15px 0 0 0; text-align: center; }
.webform-button, .webform-button:before, .webform-button:after, .webform-button-text {
	display: inline-block; vertical-align: top !important; height:33px; line-height:33px; cursor:pointer; text-decoration:none !important; outline:none;
	border: none;
	background: none;
}

.webform-button {
	background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -1110px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.14);
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.06);
	border-radius: 4px;
	font: normal normal normal 17px/33px Arial, Helvetica, sans-serif; color: #4f4f4f;
	margin: 0 10px 0 0;
	vertical-align: middle !important;

}
.webform-button-left {display: none;}
.webform-button:before {
	background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -1075px;
	content:'';
	margin-right: 8px;
	width:4px;
}
.webform-button-text,
.webform-button:hover { font: normal normal normal 17px/33px Arial, Helvetica, sans-serif; color: #4f4f4f; }
.webform-button-right {
	display: none;
}
.webform-button:after {
	background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -4px -1075px;
	content: '';
	margin-left: 8px;
	width:4px;
}

.webform-button:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -1147px; }
.webform-button:hover:before { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -20px -1075px; }
.webform-button:hover:after { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -24px -1075px; }

.webform-button-accept,
.webform-button-create,
.webform-button-blue { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -86px; }
.webform-button-accept:before,
.webform-button-create:before,
.webform-button-blue:before { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -51px; }
.webform-button-accept,
.webform-button-create,
.webform-button-blue,
.webform-button-blue:hover,
.webform-button-accept:hover,
.webform-button-create:hover,
.webform-button-accept .webform-button-text,
.webform-button-create .webform-button-text { color: #fff; text-shadow: #20ad0f -1px -1px 0, #55c747 1px 1px 0;}
.webform-button-blue:after,
.webform-button-accept:after,
.webform-button-create:after { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -4px -51px; }
.webform-button-blue:hover,
.webform-button-accept:hover,
.webform-button-create:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -818px; }
.webform-button-blue:hover:before,
.webform-button-accept:hover:before,
.webform-button-create:hover:before { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -783px; }
.webform-button-blue:hover:after,
.webform-button-accept:hover:after,
.webform-button-create:hover:after { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -4px -783px; }

.webform-button-decline { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -1218px; }
.webform-button-decline:before { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -1183px; }
.webform-button-decline,
.webform-button-decline:hover,
.webform-button-decline .webform-button-text {
	color: #fff;
	text-shadow: #e15252 -1px -1px 0;
}
.webform-button-decline:after {  background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -4px -1183px; }
.webform-button-decline:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -890px; }
.webform-button-decline:hover:before { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -855px; }
.webform-button-decline:hover:after { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -4px -855px; }

.webform-button-link {
	display: inline-block;
	cursor: pointer;
	margin: 8px 15px 0 0;
	text-decoration: underline !important;
	font: normal 15px Arial, Helvetica, sans-serif;
}
.webform-button-link-cancel  { color: #d83e3e !important; }

.webform-small-button,
.webform-small-button:before,
.webform-small-button:after,
.webform-small-button-icon,
.webform-small-button-text {
	cursor:pointer;
	display: inline-block;
	height:25px;
	line-height: 25px;
	vertical-align: top;
	outline:none;
	text-decoration:none !important;
	background: none;
	border: none;
}


.webform-small-button:before,
.webform-small-button:after {
	content: '';
}

.webform-small-button-left,
.webform-small-button-right {
	display: none;
}

.webform-small-button {
	background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -551px;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.06);
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	margin: 0 12px 0 0;
	vertical-align: middle;
}
.webform-small-button:before { width:4px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -15px -493px; margin-right: 8px; }
.webform-small-button,
.webform-small-button:hover,
.webform-small-button-text {
	color: #4f4f4f;
	font: normal normal normal 13px/24px Arial, Helvetica, sans-serif;
}

.webform-small-button:after { width:4px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -22px -493px; margin-left: 8px;}

.webform-small-button:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -985px; }
.webform-small-button:hover:before { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -15px -927px; }
.webform-small-button:hover:after { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -22px -927px; }

.webform-small-button-accept,
.webform-small-button-blue { margin: 0 12px 0 0; background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -356px;}
.webform-small-button-blue:before,
.webform-small-button-accept:before { width:4px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -328px; margin-right: 6px; }
.webform-small-button-accept,
.webform-small-button-blue:hover,
.webform-small-button-accept:hover,
.webform-small-button-accept .webform-small-button-text {
	color: #fff;
	font: normal normal normal 13px/24px Arial, Helvetica, sans-serif;
	text-shadow: #75ab6f -1px -1px 0;
}

.webform-small-button-blue,
.webform-small-button-blue .webform-small-button-text {
	color: #fff;
	text-shadow: #75ab6f -1px -1px 0;
}

.webform-small-button-blue:after,
.webform-small-button-accept:after { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -328px;}

.webform-small-button-blue:hover,
.webform-small-button-accept:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -1044px; }
.webform-small-button-blue:hover:before,
.webform-small-button-accept:hover:before { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -1016px; }
.webform-small-button-blue:hover:after,
.webform-small-button-accept:hover:after { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -1016px; }

.webform-small-button-decline  { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -522px;  }
.webform-small-button-decline:before { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -493px; }
.webform-small-button-decline,
.webform-small-button-decline:hover,
.webform-small-button-decline .webform-small-button-text {
	color: #fff;
	text-shadow: #e15252 -1px -1px 0;
}
.webform-small-button-decline:after { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -493px;}

.webform-small-button-decline:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -956px; }
.webform-small-button-decline:hover:before { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -927px; }
.webform-small-button-decline:hover:after { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -927px; }

.webform-small-button-link { display: inline-block; vertical-align: middle; margin: 0 15px 0 0; text-decoration: underline !important;}

.webform-button-upload,
.webform-button-upload .webform-button:before,
.webform-button-upload .webform-button:after,
.webform-button-upload .webform-button-text {
	display: inline-block;
	vertical-align: top;
	height:27px;
	line-height:27px;
	cursor:pointer;
}

.webform-button-upload,
.webform-button-upload .webform-button-text {
	background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -251px;
	box-shadow: none;
	border-radius: 0;
	color: #5b5b5b;
	text-shadow: none;
}

.webform-button-upload {
	border-radius: 4px;
}

.webform-button-upload:before {
	background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -222px;
	width:15px;
}

.webform-button-upload:after { width:6px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat right -222px;}


/*===========================================Users popups======================================================================*/
.finder-box {
	padding: 2px 6px 6px 6px;
	background:#fff;
	font: normal normal normal 12px/normal Arial, Helvetica, sans-serif;
	overflow: hidden;
	width: 395px;
}
.finder-box-multiple {  width: 595px; }

.finder-box-layout { width: 100%; }
.finder-box-left-column {  vertical-align:top; padding: 0; }
.finder-box-multiple .finder-box-left-column { padding: 0 15px 0 0;}
.finder-box-right-column { vertical-align:top; width: 200px; background: #f5f5f5; border: 1px solid #e2e2e2; }
/*.finder-box-right-column { display: none; }
.finder-box-multiple .finder-box-right-column { display:table-cell;}*/


.finder-box-search { margin: 0 0 7px 0;}
.finder-box-search-textbox { width: 100%; border:1px solid; border-color: #b0b0b0 #e2e2e2 #e2e2e2 #b0b0b0; font-size:15px; }

.finder-box-tabs { margin: 0 0 7px 0; white-space: nowrap; }
.finder-box-tab, .finder-box-tab-left, .finder-box-tab-right, .finder-box-tab-text { display:inline-block; height:21px; vertical-align:top; cursor:pointer; }
.finder-box-tab-left, .finder-box-tab-right { width: 4px; }

.finder-box-tab { margin: 0 3px 0 0;}
.finder-box-tab-left {}
.finder-box-tab-right {}
.finder-box-tab-text { line-height: 21px; padding: 0 5px; font-weight:bold; color:#333; }

.finder-box-tab:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -621px; }
.finder-box-tab:hover .finder-box-tab-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -599px; }
.finder-box-tab:hover .finder-box-tab-right {background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -4px -599px; }

.finder-box .finder-box-tab-selected { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -643px; }
.finder-box .finder-box-tab-selected .finder-box-tab-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -8px -599px; }
.finder-box .finder-box-tab-selected .finder-box-tab-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -12px -599px; }

.finder-box-tabs-content { margin: 7px 0 0 0; max-height: 200px; min-height: 150px; overflow:auto; position:relative;}
.finder-box-tab-content { display: none; }
.finder-box-tab-content-selected { display: block; }

.finder-box .finder-box-item { display: block; cursor: pointer; position: relative; color: #000; margin: 0 5px 2px 0; text-decoration:none; overflow: hidden; }
.finder-box-item-text { padding:3px 5px; }
.finder-box-item-icon { width: 17px; height:21px; position: absolute; right: 0; top: 0; background: #fff;}
.finder-box-item-left { margin: 0 3px 0 0;}

.finder-box-item:hover { background: #f0f0f0; }

.finder-box-item:hover .finder-box-item-icon { background: #f0f0f0 url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -19px -469px; }
.finder-box-item-selected:hover .finder-box-item-icon { background: #f0f0f0 url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -20px -577px; }
.finder-box-item-selected .finder-box-item-text { color: #666666; }



.finder-box-tab-columns { width: 100%; table-layout:fixed;}
.finder-box-tab-columns td { width: 50%; padding:0; vertical-align: top; }

.finder-box-selected-items { max-height: 235px; overflow-x: hidden; overflow-y:auto;}
.finder-box-selected-title {  color: #6e6e6e; height: 32px;   line-height: 32px; margin:0 8px;}
.finder-box-selected-item {  overflow: hidden; margin: 0 5px 10px 5px; }
.finder-box-selected-item-icon { float: left; cursor: pointer; width: 13px; height:15px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -282px;}
.finder-box-selected-item-icon:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -17px -282px;}
.finder-box-selected-item .finder-box-selected-item-text { text-decoration: none; overflow: hidden; padding: 0 0 0 4px; display: block; color: #000;}
.finder-box-selected-item .finder-box-selected-item-text:hover { text-decoration: underline;}

.finder-box-tab-note { font-style: italic; display:inline-block; margin: 0 0 0 5px;}

.company-structure { padding: 0 0 0 3px; }
.company-department {  padding: 10px 0 0; }
.company-department-first { padding: 3px 0 0 0;}
.company-department-inner { display: inline-block; overflow:hidden; cursor:pointer;  -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}

.company-department-arrow { float: left; width:16px; height: 17px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -16px -175px;}
.company-department-opened .company-department-arrow { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -16px -191px;}
.company-department-text { display:inline-block; overflow:hidden; padding: 1px 5px 1px 5px; color: #000; font: normal normal normal 12px/normal Arial, Helvetica, sans-serif;}

.company-department-inner:hover .company-department-text, .company-department-inner:hover .company-department-arrow { background-color:#f0f0f0; }

.company-department-children { display: none; margin-left: 3px; padding: 0 0 0 13px;}
.company-department-children-opened { display: block; border-left: 1px solid #F0F0F0;}


.company-department-employees { margin: 0 0 0 -10px; padding: 5px 0 0 0;}
.company-department-employee { cursor: pointer; position: relative; margin: 5px 10px 0 0;}
.company-department-employee-avatar { width: 24px; height: 24px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -664px; position: absolute; top: 3px; left: 3px; }
.company-department-employee-info { padding: 2px 0; margin: 0 0 0 32px; }
.company-department-employee-name { color:#000; }
.company-department-employee-position { color: #b2b2b2; font-size:11px; line-height:11px; }
.company-department-employee-icon { position:absolute; top:10px; right:5px; width:11px; height:11px;  }
.company-department-employee:hover { background-color: #f0f0f0; }
.company-department-employee:hover .company-department-employee-icon { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -19px -474px; }
.company-department-employee-selected:hover .company-department-employee-icon { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -19px -584px; }
.company-department-employees-loading { font-style: italic; }

/*intranet structure*/
.structure-department-head { background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat 0 -281px; visibility:hidden; height: 16px; position: absolute; width: 15px; cursor: pointer; margin-right:15px; }
.structure-department-head:hover { background-position: -17px -281px !important; }

/******************************* titlebar buttons *****************************************/

.intranet-title-buttons {
	position: absolute;
	right: 0;
	top: 5px;
	white-space: nowrap;
}


.intranet-title-button {
	cursor: pointer;
	display: inline-block;
	height: 19px;
	margin-left: 5px;
	outline: medium none;
	text-decoration: none !important;
	vertical-align: top;
}

.intranet-title-link {
	color: #0069C4;
	cursor: pointer;
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	height: 19px;
	line-height: 19px;
	margin: 0 0 0 5px;
	text-decoration: underline;
	vertical-align: top;
}

.intranet-title-button-create-icon {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat scroll -19px -470px transparent;
	display: inline-block;
	height: 19px;
	vertical-align: top;
	width: 11px;
}

.intranet-tabs-box { padding: 0 0 13px 0; }
.intranet-tabs { margin: 0 18px 0 18px; position: relative; z-index:1; }
.intranet-tabs-hr { position: relative; top: -1px; left:0; background: #dadada url(../../images/intranet/intranet-sprite.png) no-repeat 0 -53px; display:block; font-size:1px; height:1px; line-height:1px; margin:0; overflow:hidden; padding:0;}
.intranet-tabs-hr i { background: url(../../images/intranet/intranet-sprite.png) no-repeat right -52px; display:block; font-size:1px; height:1px; line-height:1px; margin:0; overflow:hidden; padding:0; }

.intranet-tab { display: inline-block; height:25px; vertical-align: bottom; cursor: pointer; margin: 0 3px 0 0; border-bottom: 1px solid #dadada; }
.intranet-tab-left, .intranet-tab-right { display: inline-block; vertical-align: bottom; height:25px; }

.intranet-tab-left { width: 3px; background: url(../../images/intranet/intranet-sprite.png) no-repeat -48px -17px; }
.intranet-tab-text {
	display: inline-block;
	font: normal normal normal 12px/20px Arial, Helvetica, sans-serif;
	color: #747474;
	background: #e9e9e9;
	height:21px;
	vertical-align: bottom;
	padding: 0 11px;
	border-top: 1px solid #d4d4d4;

}
.intranet-tab-right { width: 3px; background: url(../../images/intranet/intranet-sprite.png) no-repeat -51px -17px; }

.intranet-tab-selected { border-bottom: none; }
.intranet-tab-selected .intranet-tab-left {  background: url(../../images/intranet/intranet-sprite.png) no-repeat -40px -17px;}
.intranet-tab-selected .intranet-tab-text {
	display: inline-block;
	color: #000;
	background: #fff;
	height:24px;
	vertical-align: bottom;
	line-height: 23px;
	border-top: 1px solid #b0b0b0;
}
.intranet-tab-selected .intranet-tab-right {  background: url(../../images/intranet/intranet-sprite.png) no-repeat -43px -17px; }

.intranet-tabs-content {margin: 13px 14px 0 14px;}

.intranet-tab-content {display: none;}
.intranet-tab-content.intranet-tab-content-selected {display: block;}

.invite-dialog-sonetgroup-wrap {
	margin-bottom: 10px;
	background: #FFFFFF;
	line-height: 20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	max-width: 500px;
}

.invite-dialog-inv-block {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 520px;
	line-height: 20px;
}

.invite-dialog-inv-link {
	border-bottom: 1px dashed #2067b0;
	color: #2067b0;
	cursor: pointer;
}

a.invite-dialog-inv-link, a.invite-dialog-inv-link:active, a.invite-dialog-inv-link:visited, a.invite-dialog-inv-link:hover {text-decoration:none;}

.invite-dialog-inv-form {
	background-color: #f3f7f8;
	border: 1px solid #d9e5e7;
	-webkit-box-shadow: inset 0 1px 0 #fcfdfd;
	box-shadow: inset 0 1px 0 #fcfdfd;
	border-radius: 3px;
	padding: 21px 16px 15px 15px;
	min-width: 490px;
}

.invite-dialog-inv-form .errortext {
	padding-bottom: 10px;
	color: #FF0000;
}

.invite-dialog-inv-form-table {
	border: none;
	border-spacing: 0;
	width: 100%;
}

.invite-dialog-inv-form-l {
	color: #555555;
	font-size: 14px;
	text-shadow: 0 1px #fcfdfd;
	padding: 9px 10px 18px 3px;
	vertical-align: top;
	width: 85px;
}

.invite-dialog-inv-form-r {
	padding: 0 0 18px 0;
}

.invite-dialog-inv-form-footer .invite-dialog-inv-form-l,
.invite-dialog-inv-form-footer .invite-dialog-inv-form-r{
	border-top: 1px solid #e5e8e9;
	padding-bottom: 0;
}

.invite-dialog-inv-form-footer .invite-dialog-inv-form-l{
	padding-top: 29px;
}

.invite-dialog-inv-form-footer .invite-dialog-inv-form-r{
	padding-top: 20px;
}


.invite-dialog-inv-form-inp {
	background-color: #fff;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px 0 #dbdbdb;
	box-shadow: inset 0 1px 2px 0 #dbdbdb;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 30px;
	padding:0 0 0 3%;
	width: 97%;
	font-size: 13px;
}

.invite-dialog-inv-form-textarea {
	resize: none;
	background-color: #fff;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px 0 #dbdbdb;
	box-shadow: inset 0 1px 2px 0 #dbdbdb;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 10px;
	width: 97%;
	font-size: 13px;
	height: 75px;
	color: #A1A1A1;
	overflow: auto;
}

.invite-dialog-inv-form-textarea-active {
	color: #000!important;
}

.invite-dialog-inv-form-select {
	background-color: #fff;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px 0 #dbdbdb;
	box-shadow: inset 0 1px 2px 0 #dbdbdb;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 32px;
	outline: none;
	padding: 5px 3px 5px 0;
	width: 100%;
}

.invite-dialog-inv-form-hidden-text {
	height: 32px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 7px;
}

.invite-dialog-inv-form-checkbox-wrap {
	padding-top: 12px;
}

.invite-dialog-inv-form-checkbox {
	margin-top: 2px;
	vertical-align: top;
}

.invite-dialog-inv-form-checkbox-label {
	color: #555555;
	display: inline-block;
	margin-left: 5px;
	font-size: 13px;
	vertical-align: middle;
}

.invite-dialog-inv-text-bold {
	color: #555555;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 0 10px 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.invite-dialog-inv-success-block {
	padding: 10px;
}

.invite-dialog-box-info-set {
	background-color: #fafcfc;
	border: 1px solid #d9e5e7;
	-webkit-box-shadow: inset 0 0 0 1px #fcfdfd;
	box-shadow: inset 0 0 0 1px #fcfdfd;
	margin-top: 4px;
	color: #555;
}

.invite-dialog-box-info-set.invite-dialog-box-info-set-inactive {
	background-color: #f3f7f8;
	border: 1px solid #f3f7f8;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.invite-dialog-box-info-block {
	overflow: hidden;
	padding: 7px;
	white-space: nowrap;
}

.invite-dialog-box-info-set-inactive .invite-dialog-box-info-block-body {
	display: none;
}

.invite-dialog-box-info-btn {
	border: 1px solid;
	border-color: #fafcfc;
	border-radius: 2px;
	color: #2067b0;
	cursor: pointer;
	display: inline-block;
	height: 23px;
	line-height: 23px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	text-shadow: 0 1px #fff;
	padding: 0 5px;
}

.invite-dialog-box-info-set.invite-dialog-box-info-set-inactive .invite-dialog-box-info-btn {
	border: 1px solid #f3f7f8;
}

.invite-dialog-box-info-btn-active {
	border-color: #adb2ba #bac0c7 #dae0e3;
	background-image: -webkit-linear-gradient(top, #dae3e6, #e4ebed);
	background-image:    -moz-linear-gradient(top, #dae3e6, #e4ebed);
	background-image:     -ms-linear-gradient(top, #dae3e6, #e4ebed);
	background-image:      -o-linear-gradient(top, #dae3e6, #e4ebed);
	background-image:         linear-gradient(to bottom, #dae3e6, #e4ebed);
	-webkit-box-shadow: inset 0 1px 1px #b8bec5;
	box-shadow: inset 0 1px 1px #b8bec5;
}

.invite-dialog-box-info-btn-text {
	border-bottom: 1px dashed #2067b0;
}

.invite-dialog-box-info-btn-active .invite-dialog-box-info-btn-text {
	border-bottom: none;
}

.invite-dialog-box-info-text {
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	margin: 0 8px;
}

.invite-dialog-box-info-left,
.invite-dialog-box-info-right {
	display: inline-block;
	margin-right: 3%;
	vertical-align: top;
	width: 47%;
}

.invite-dialog-box-info-right {
	margin: 0 0 0 3%;
}

.invite-dialog-box-info-label {
	display: block;
	color: #555;
	font-size: 14px;
	padding-bottom: 5px;
	text-shadow: 0 1px #fff;
}

.invite-dialog-box-info-close-open {
	background: url(../../images/intranet/intranet-mail-popup-arrows.png) no-repeat right 100px;
	color: #8a8b8b;
	cursor: pointer;
	font-size: 12px;
	float: right;
	padding-right: 11px;
}

.invite-dialog-box-info-open {
	background-position: right 7px;
}

.invite-dialog-box-info-close {
	background-position: right -10px;
}