
.feed-add-grat-block {
	background-color: #eef2f4;
	border-radius: 2px;
	margin: 0 19px 15px;
	padding: 37px 24px 37px 86px;
	position: relative;
}

.feed-add-grat-medal {
	background: none repeat 0 0;
	left: 28px;
	position: absolute;
	text-align: center;
	top: 29px;
	width: 50px;
}

.feed-add-grat-box.feed-add-grat-medal-heart {
	background-position: -13px -8px;
	background-color: #fe5857;
}

.feed-add-grat-box.feed-add-grat-medal-heart:hover {color: #ffd4d4;}

.feed-add-grat-box.feed-add-grat-medal-gift {
	background-position: -74px -8px;
	background-color: #5cd1df;
}

.feed-add-grat-box.feed-add-grat-medal-gift:hover {
	color: #cef1f5;
}

.feed-add-grat-box.feed-add-grat-medal-cup {
	background-position: -135px -8px;
	background-color: #ffa800;
}

.feed-add-grat-box.feed-add-grat-medal-cup:hover {
	color: #ffe5b2;
}

.feed-add-grat-box.feed-add-grat-medal-money {
	background-position: -196px -8px;
	background-color: #05b5ab;
}

.feed-add-grat-box.feed-add-grat-medal-money:hover {
	color: #b4e9e6;
}

.feed-add-grat-box.feed-add-grat-medal-crown {
	background-position: -257px -8px;
	background-color: #a7abb0;
}

.feed-add-grat-box.feed-add-grat-medal-crown:hover {
	color: #e4e6e7;
}

.feed-add-grat-box.feed-add-grat-medal-drink {
	background-position: -318px -8px;
	background-color: #2fc7f7;
}

.feed-add-grat-box.feed-add-grat-medal-drink:hover {
	color: #c0eefd;
}

.feed-add-grat-box.feed-add-grat-medal-cake {
	background-position: -379px -8px;
	background-color: #b47153;
}

.feed-add-grat-box.feed-add-grat-medal-cake:hover {
	color: #ecdad2;
}

.feed-add-grat-box.feed-add-grat-medal-thefirst {
	background-position: -13px -191px;
	background-color: #ffd200;
}

.feed-add-grat-box.feed-add-grat-medal-thefirst:hover {
	color: #fff1b2;
}

.feed-add-grat-box.feed-add-grat-medal-flag {
	background-position: -74px -191px;
	background-color: #fb6dba;
}

.feed-add-grat-box.feed-add-grat-medal-flag:hover {
	color: #fed3ea;
}

.feed-add-grat-box.feed-add-grat-medal-star {
	background-position: -134px -190px;
	background-color: #29ad49;
}

.feed-add-grat-box.feed-add-grat-medal-star:hover {
	color: #bee6c8;
}

.feed-add-grat-box.feed-add-grat-medal-thumbsup {
	background-position: -196px -191px;
	background-color: #6e54d1;
}

.feed-add-grat-box.feed-add-grat-medal-thumbsup:hover {
	color: #dfd9f5;
}

.feed-add-grat-box.feed-add-grat-medal-beer {
	background-position: -257px -191px;
	background-color: #ae914b;
}

.feed-add-grat-box.feed-add-grat-medal-beer:hover {
	color: #e9e1ce;
}

.feed-add-grat-box.feed-add-grat-medal-flowers {
	background-position: -318px -191px;
	background-color: #ff7b9d;
}

.feed-add-grat-box.feed-add-grat-medal-flowers:hover {
	color: #ffd7e1;
}

.feed-add-grat-box.feed-add-grat-medal-smile {
	background-position: -379px -191px;
	background-color: #bada0b;
}

.feed-add-grat-box.feed-add-grat-medal-smile:hover {
	color: #eaf4b5;
}

.feed-add-grat-medal-other {
	color: #9ea3a9;
	cursor: pointer;
	font-size: 12px;
	padding: 3px 10px 0 0;
	text-shadow: 0 1px #f8fafb;
}

.feed-add-grat-medal-arrow {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -132px -698px;
	bottom: 5px;
	height: 4px;
	position: absolute;
	right: 2px;
	width: 6px;
}

.feed-add-grat-label {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -144px -42px;
	color: #858788;
	float: left;
	font-size: 14px;
	margin-top: 15px;
	padding: 0 0 0 20px;
}

.feed-add-grat-popup {
	background-color: #fff;
	padding: 5px;
}

.feed-add-grat-list-title {
	color: #555;
	font-size: 12px;
	font-weight: bold;
	margin: 8px 20px 12px 23px;
	white-space: nowrap;
}

.feed-add-grat-list {
	padding: 0 12px 14px 14px;
	text-align: left;
}

.feed-add-grat-box {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/medals-2.png") no-repeat 100px 100px;
	border-radius: 50%;
	border: 3px solid #fff;
	cursor: pointer;
	display: inline-block;
	height: 45px;
	margin: 7px;
	vertical-align: top;
	width: 45px;
}

.feed-add-grat-box:hover {
	-webkit-box-shadow: 0 0 0 3px;
	box-shadow: 0 0 0 3px;

	-webkit-transition: box-shadow 0.25s linear;
	transition: box-shadow 0.25s linear;
}

.feed-add-grat-medal .feed-add-grat-box,
.feed-add-grat-medal .feed-add-grat-box:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	margin: 6px 0 5px 0;
}

.feed-add-grat-form {
	overflow: hidden;
	padding-left: 17px;
}

.feed-add-grat-form .feed-add-post-grat-wrap {
	background-color: #fff;
	border-color: #e4e4e4;
	min-height: 31px;
}

.feed-add-grat-input-box {
	display: none;
}

.feed-add-post-grat {
	border-radius: 1px;
	font-size: 13px;
	display: inline-block;
	font-weight: bold;
	margin: 0 6px 6px 0;
	height: 30px;
	line-height: 29px;
	overflow: hidden;
	padding: 0 30px 0 13px;
	position: relative;
	vertical-align: middle;
	z-index: 2;

	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}

.feed-add-post-grat a:link, .feed-add-post-grat a:visited, .feed-add-post-grat a:active, .feed-add-post-grat a:hover {
	text-decoration: none;
}

.feed-add-post-grat-hover {
	background-color: #86e2ff !important;
}

.feed-add-post-grat-hover .feed-add-post-del-but {
	opacity: 1;
}


.feed-add-grat-link {
	border-bottom: 1px solid transparent;
	color: #2067b0;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	margin: 7px 7px 7px 18px;
	vertical-align: top;
	position: relative;
}


.feed-add-grat-link:hover {
	border-bottom: 1px solid;
}

.feed-add-grat-link:before {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -148px -481px;
	content: "";
	height: 8px;
	left: -14px;
	position: absolute;
	top: 5px;
	width: 8px;
}

.feed-add-grat-inp {
	background: #fff;
	border: medium none;
	color: #555;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 20px;
	margin: 0 9px 9px 0;
	min-width: 108px;
	outline: medium none;
	padding: 0;
	vertical-align: middle;
}

.feed-add-post-form-variants {
	border-bottom: 1px solid #f0f1f2;
	min-height: 19px;
	padding: 0 0 20px 15px;
	position: relative;
}


.feed-add-post-form-arrow {
	background: url(/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3) no-repeat -83px -386px;
	bottom: -1px;
	display: none;
	left: 68px;
	position: absolute;
	height: 7px;
	width: 13px;

	-webkit-transition: left 0.2s ease-in-out;
	transition: left 0.2s ease-in-out;
}

.blog-post-edit-open .feed-add-post-form-arrow {
	display: block;
}

.feed-add-post-form-link {
	color: #80868e;
	cursor: pointer;
	display: inline-block;
	font-family: "OpenSans-Bold", sans-serif;
	font-size: 12px;
	float: left;
	height: 19px;
	line-height: 19px;
	margin-right: 26px;
	padding-left: 27px;
	position: relative;
	text-transform: uppercase;
}

.bx-quirks .feed-add-post-form-link {
	float: left;
}

.feed-add-post-form-link:hover {
	color: #000;
}

.feed-add-post-form-link-active {
	color: #000 !important;
}

.feed-add-post-form-link-more {
	margin-right: 0;
	padding: 0 14px 0 5px;
}

.feed-add-post-form-link-more .feed-add-post-form-link-icon {
	display: none;
}

.feed-add-post-form-message-link.feed-add-post-form-link-more, .feed-add-post-form-file-link.feed-add-post-form-link-more, .feed-add-post-form-important-link.feed-add-post-form-link-more, .feed-add-post-form-calendar-link.feed-add-post-form-link-more, .feed-add-post-form-lists-link.feed-add-post-form-link-more, .feed-add-post-form-vote-link.feed-add-post-form-link-more, .feed-add-post-form-grat-link.feed-add-post-form-link-more {
	padding: 0 14px 0 27px;
}

.feed-add-post-form-link-active .feed-add-post-form-link-text,
.feed-add-post-form-link-more-active .feed-add-post-form-link-text {
	color: #000;
}

.feed-add-post-form-link-active .feed-add-post-more-icon,
.feed-add-post-form-link-more-active .feed-add-post-more-icon,
.feed-add-post-form-link-more:hover .feed-add-post-more-icon {
	background-position: -101px -779px;
}

.feed-add-post-form-message-link-icon, .feed-add-post-form-message-link.feed-add-post-form-link-more .feed-add-post-form-link-icon, .feed-add-post-form-file-link-icon, .feed-add-post-form-file-link.feed-add-post-form-link-more .feed-add-post-form-link-icon, .feed-add-post-form-polls-link-icon, .feed-add-post-form-lists-link .feed-add-post-form-link-icon, .feed-add-post-form-vote-link .feed-add-post-form-link-icon, .feed-add-post-form-important-link-icon, .feed-add-post-form-important-link.feed-add-post-form-link-more .feed-add-post-form-link-icon, .feed-add-post-form-grat-link-icon, .feed-add-post-form-grat-link.feed-add-post-form-link-more .feed-add-post-form-link-icon, .feed-add-post-form-calendar-link-icon, .feed-add-post-form-calendar-link.feed-add-post-form-link-more .feed-add-post-form-link-icon {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat 100px 100px;
	display: inline-block;
	height: 18px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 18px;
}

.feed-add-post-form-lists-link-icon
{
	background: url("images/lists.png");
	display: inline-block;
	height: 16px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 16px;
}

.feed-add-post-form-link:hover .feed-add-post-form-lists-link-icon,
.feed-add-post-form-link-active .feed-add-post-form-lists-link-icon {
	background: url("images/lists-hover.png");
}

.feed-add-post-form-message-link-icon {
	background-position: -40px -700px;
}

.feed-add-post-form-link:hover .feed-add-post-form-message-link-icon,
.feed-add-post-form-link-active .feed-add-post-form-message-link-icon {
	background-position: 2px -727px;
}

.feed-add-post-form-file-link-icon {
	background-position: -35px -751px;
	left: 6px;
	top: 1px;
}

.feed-add-post-form-link:hover .feed-add-post-form-file-link-icon,
.feed-add-post-form-link-active .feed-add-post-form-file-link-icon {
	background-position: -2px -751px;
}

.feed-add-post-form-polls-link-icon, .feed-add-post-form-vote .menu-popup-item-icon, .feed-add-post-form-vote-link.feed-add-post-form-link-more .feed-add-post-form-link-icon {
	background-position: -75px -701px;
	left: 5px;
	top: 1px;
}

.feed-add-post-form-link-active .feed-add-post-form-polls-link-icon, .feed-add-post-form-link-active.feed-add-post-form-vote-link .feed-add-post-form-link-icon, .feed-add-post-form-vote:hover .menu-popup-item-icon {
	background-position: -34px -728px;
}

.feed-add-post-form-polls-link-icon, .feed-add-post-form-lists-link.feed-add-post-form-link-more .feed-add-post-form-link-icon {
	background-position: -75px -701px;
	left: 5px;
	top: 1px;
}

.feed-add-post-form-link-active .feed-add-post-form-polls-link-icon, .feed-add-post-form-link-active.feed-add-post-form-lists-link .feed-add-post-form-link-icon {
	background-position: -34px -728px;
}

.feed-add-post-form-important-link.feed-add-post-form-link-more .feed-add-post-form-link-icon, .feed-add-post-form-important-link-icon {
	background-position: -131px -726px;
}

.feed-add-post-form-link-active .feed-add-post-form-important-link-icon, .feed-add-post-form-link-active.feed-add-post-form-important-link .feed-add-post-form-link-icon, .feed-add-post-form-important:hover .menu-popup-item-icon {
	background-position: -131px -752px;
	left: 2px;
}

.feed-add-post-form-calendar-link-icon {
	background-position: -107px -890px;
	top: 1px;
}

.feed-add-post-form-link:hover .feed-add-post-form-calendar-link-icon,
.feed-add-post-form-link-active .feed-add-post-form-calendar-link-icon {
	background-position: -138px -890px;
}

.feed-add-post-form-grat-link.feed-add-post-form-link-more .feed-add-post-form-link-icon, .feed-add-post-form-grat-link-icon {
	background-position: -104px -698px;
}

.feed-add-post-form-link-active.feed-add-post-form-grat-link .feed-add-post-form-link-icon,
.feed-add-post-form-link-active .feed-add-post-form-grat-link-icon,
.feed-add-post-form-grat:hover .menu-popup-item-icon {
	background-position: -67px -725px;
	left: 2px;
	top: 0;
}

.feed-add-post-form-message .menu-popup-item-icon {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -42px -700px;
	margin-left: 5px;
}

.feed-add-post-form-grat .menu-popup-item-icon {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -104px -698px;
	margin-left: 5px;
	height: 18px;
}

.feed-add-post-form-important .menu-popup-item-icon {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -131px -727px;
	margin-left: 5px;
}

.feed-add-post-form-calendar .menu-popup-item-icon {
	background: url("/bitrix/images/calendar/calendar-sprite.png") no-repeat -8px -149px;
	margin-left: 5px;
}

.feed-add-post-form-vote .menu-popup-item-icon {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -75px -701px;
	margin-left: 5px;
}

.feed-add-post-form-lists .menu-popup-item-icon {
	text-align: center;
}
.feed-add-post-form-lists-default-new .menu-popup-item-icon {
	background: url(images/sprite.png) no-repeat -19px -453px;
}
.feed-add-post-form-lists-default-new:hover .menu-popup-item-icon {
	background: url(images/sprite.png) no-repeat 0px -453px;
}
.feed-add-post-form-lists-default-market .menu-popup-item-icon
{
	background: url(images/sprite.png) no-repeat -19px -472px;
}
/*.feed-add-post-form-lists-default-market:hover .menu-popup-item-icon {*/
	/*background: url(images/sprite.png) no-repeat 0px -472px;*/
/*}*/
.feed-add-post-form-lists-default-settings .menu-popup-item-icon {
	background: url(images/sprite.png) no-repeat -19px -434px;
}
.feed-add-post-form-lists-default-settings:hover .menu-popup-item-icon {
	background: url(images/sprite.png) no-repeat 0px -434px;
}

.feed-add-post-form-file .menu-popup-item-icon {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -35px -751px;
	margin-left: 5px;
}

.feed-add-post-form-message .menu-popup-item-text, .feed-add-post-form-file .menu-popup-item-text, .feed-add-post-form-calendar .menu-popup-item-text, .feed-add-post-form-grat .menu-popup-item-text, .feed-add-post-form-lists .menu-popup-item-text, .feed-add-post-form-vote .menu-popup-item-text, .feed-add-post-form-important .menu-popup-item-text {
	color: #7f8182;
	font-size: 14px;
}

.feed-add-post-form-grat:hover .menu-popup-item-text, .feed-add-post-form-lists:hover .menu-popup-item-text, .feed-add-post-form-vote:hover .menu-popup-item-text, .feed-add-post-form-important:hover .menu-popup-item-text {
	color: #515a65;
}

.feed-add-post-more-icon {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -88px -779px;
	height: 3px;
	position: absolute;
	right: 0;
	top: 9px;
	width: 6px;
}

.feed-add-post-more-icon-lists {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -88px -779px;
	height: 3px;
	position: absolute;
	right: -12px;
	top: 9px;
	width: 6px;
}

.feed-add-post-form-link-active .feed-add-post-more-icon {
	background-position: -101px -779px;
}

.feed-add-post.feed-add-post-edit-form-file .wduf-selectdialog {
	margin: 10px;
}

.feed-add-post-destination-wrap {
	min-height: 31px !important;
}

form.comments-form .feed-add-post-buttons {
	display: block !important;
}
